<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Custom Login Page</title>
  <link rel="stylesheet" href="/Public/css/Login.css" />
</head>
<body>
  <form action="/login" method="POST" id="loginForm" class="login-row">
    <input type="text" name="username" placeholder="Say Your Name" required />
    <button type="submit">Login</button>
  </form>

  <p id="message"></p>

  <script src="/Public/js/login.js"></script>
</body>
</html>
